.gallery {
	width:980px;
	margin: 0 auto;
	margin-top: 50px;
	text-align:center
}
.gallery img {
	//display:inline-block;
	background: #fff;
	padding: 10px;
	box-shadow: 2px 1px 5px #ccc;
	border:1px solid #ccc;
	position:relative;
	transition:all .5s ease-in;
}

.gallery img:nth-child(2n) {
	transform: translate(10px, 0px) rotate(8deg);
	top:-40px;
}
.gallery img:nth-child(2n+1) {
	left: 25px;
	transform: translate(-10px, -30px) rotate(-5deg);
}

.gallery img:nth-child(3n) {
    left: 17px;
    top: -10px;
    transform: translate(-10px, -30px) rotate(-15deg);
}
.gallery img:nth-child(5n) {
    left: -8px;
    top: 20px;
}
.gallery img:nth-child(6n) {
    transform: translate(-10px, -30px) rotate(15deg);
}
.gallery img:nth-child(9n) {
    transform: translate(-10px, -30px) rotate(22deg);
}
.gallery img:hover {
    transform: rotate(360deg) scale(1.5);
    z-index: 10;
	
}
