section.field  {
	width:100%;
	height:100vh;
	margin: 0 auto;
	border:3px solid #ccc;
	position: relative;
}
img[alt="basket"] {
	position:absolute;
	top: 50px;
	left: 0;
	visibility: hidden;
}
.ball {
	position: absolute;
	top: 0;
	right: 20px;
	width: 200px;
	height: 200px;
	border-radius:50%;
	box-shadow:0 0 20px #ccc;
	background: -o-radial-gradient(at 140px 70px, rgba(255, 0, 0, .5) 10%, rgba(255, 255, 0, .5) 15%), url(../images/ball.png); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(at 140px 70px, rgba(255, 0, 0, .5) 10%, rgba(255, 255, 0, .5) 15%), url(../images/ball.png); /* For Firefox 3.6 to 15 */
	background: -webkit-radial-gradient(at 140px 70px, rgba(255, 0, 0, .5) 10%, rgba(255, 255, 0, .5) 15%), url(../images/ball.png); /* For Chrome*/
	background:radial-gradient(at 140px 70px, rgba(255, 0, 0, .5) 10%, rgba(255, 255, 0, .5) 15%), url(../images/ball.png);
	background-size:cover;

}
