* {
	box-sizing:border-box;
}
.mainheader {
	background:#1d2126;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*-- HEADER --*/
.logo {
	float:left;
}

.mainheader__menu {
	float:right;
}


.container {
	width:1170px;
	margin:0 auto;
}

/*-- ICONS --*/ 
.clock, .cogs, .mobile, .pencil
{ display: inline-block; background: url('../images/icons/sprite-icon-green.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.clock { background-position: -10px -0px; width: 48px; height: 48px; }
.cogs { background-position: -68px -0px; width: 48px; height: 48px; }
.mobile { background-position: -10px -58px; width: 48px; height: 48px; }
.pencil { background-position: -68px -58px; width: 48px; height: 48px; }