body {
    background-color: gray;
}

.vrapper {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}



/*   выпадающее меню   */
.vrapper-topmenu {
    background-color: #e2e2e2;
    font-family: arial;
    font-size: 12px;
    color: #333333;
    line-height: 40px;
    padding-left: 10px;
 }

.dropdown i {
    padding: 0 5px 0 5px;
    
}

ul a {
    text-decoration: none;
    color: #333333;
}
ul.dropdown li { 
    position: relative; 
}
ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
    
 }
 ul.dropdown-inside {
    position: absolute;
    left: -999px;
 }
 ul.dropdown 
 li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
 }
 ul.dropdown 
 li.dropdown-top a {
    padding-left: 10px;
    display: block;
 }
 
 ul.dropdown 
 li.dropdown-top:hover 
 .dropdown-inside {
    display: block;
    left: 0;
    width: 136px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 7px 0px rgba(193, 193, 193, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
 }
 
 ul.dropdown 
 .dropdown-inside { 
     background: #fff; 
 }
 ul.dropdown 
 .dropdown-inside a:hover { 
     background: #229dcc; 
 }
 
 ul img {
     padding-right: 5px;
 }
 
   /* конец выпадающее меню */
   
.vrapper-topmenu_dropdown
.vrapper-topmenu_rightstr {
    float: left; 
    width: 50%;  
    margin: 0;
    
}

.vrapper-topmenu_rightstr {
    text-align: right;
    padding-right: 30px;
}

.vrapper-topmenu_rightstr i {
    padding-left: 10px;
    padding-right: 5px;
}

   /*vrapper-header*/
   
.vrapper-header {
   overflow: hidden;
}
  
.vrapper-header__logo {
    margin-left: 32px;
    margin-top: 11px;
    float: left; 
    
}

.vrapper-header__search-form,
.vrapper-search-form__search,
.vrapper-search-form__button {
    padding-top: 17px;
    float: left;
    
}

.vrapper-search-form__search {
    margin-left: 21px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #cccccc;
    border-right: none; 
    width: 276px;
}

.vrapper-search-form__button {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border: 1px solid #cccccc;
   background-color: #e5e5e5;
   width: 85px;
   padding-top: 0;
   line-height: 35px;
}

.vrapper-search-form__button i {
    font-size: 18px;
    color: #666666;
    
}

.vrapper-header__basket {
    display: inline;
    margin-top: 16px;
    margin-right: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    float: right;
    line-height: 38px;
    font-family: arial;
    font-size: 12px;
    color: #ffffff;
    vertical-align: middle;
    width: 261px;
    text-align: center;
 }
 
 .vrapper-header__basket i {
    padding-right: 5px;
 }
 
.vrapper-menu__line {
    margin: 17px 20px 0 20px;
    padding-left: 33px;
    background: linear-gradient(to top, #23a0d0, #1f90bb);
    border: 1px solid #cccccc;
    border-radius: 5px;
 }
 
 .vrapper-menu {
    width:100%;
    display:inline;
    table-layout: fixed;   

}

.vrapper-link_menu {
    padding: 0 15px 0 15px;
    text-align:center;
    color:#ffffff;
    cursor:pointer;
    font-family: arial;
    font-size:12px;
    height:38px;
    line-height:38px;
    display:table-cell;
    text-decoration: none;
}

.vrapper-link_menu:hover {
    background-color: #2289cb;
}

.wrapper-slider {
    margin: 10px 20px 13px 20px;
    padding: 20px;
    border: 3px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px 0px rgba(204, 204, 204, 0.75);
}

.wrapper-slider-nav {
    text-align: center;
    margin-bottom: 13px;
}

    /*C O N T E N T*/
    
.vrapper-menu__line {
    margin: 17px 20px 0 20px;
    padding-left: 33px;
    background: linear-gradient(to top, #23a0d0, #1f90bb);
    border: 1px solid #cccccc;
    border-radius: 5px;
 }
 
 .wrapper-content_menu {
     margin: 0 20px 15px 20px;
     overflow: hidden;
}

.content-link_menu {
    padding: 0 20px 0 20px;
    text-align:center;
    font-family: arial;
    font-size:9px;
    color: #333333;
    text-decoration: none;
   
}

.content-link_menu_none-active {
    color: #23a1d1;
    border-bottom: 2px solid #cccccc;
    float: left;
    width: 85%;
    padding: 15px 20px 11px 20px;
    display: inline;
    
   
}

.content-link_menu_none-active > a {
    color: #23a1d1;
}

.content-link_menu_active {
    border: 1px solid #dadada;
    border-bottom: none;
    border-radius: 5px;
    padding: 15px 20px 11px 20px;
    float: left;
    display: inline;
 }


/* -- P R O D U C T -- */

.wrapper-content-products {
    overflow: hidden;
}

.wrapper__content-product {
    float: left;
    margin: 0 0 20px 20px;
    width: 266px;
    border: 1px solid #cccccc;
    
}

.content-product img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    
}

.content-product h4 {
    margin: 0 0 35px 30px;
    font-family: times new roman;
    font-size: 16px;
    font-weight: normal;
    color: #337ab7;
}

.content-product p {
    margin-right: 36px;
    margin-left: 30px;
    font-family: times new roman;
    font-size: 12px;
    text-align: justify;
    color: #333333;
}

.content-product p:nth-child(3) {
    text-indent: 4px;
}

.content-product__menu {
    margin-top: 23px;
    border-top: 1px solid #cccccc;
    background-color: #eeeeee;
}

.product-link_menu {
    display: block;
    padding: 0;
    text-align:center;
    color:#666666;
    font-family: arial;
    font-size:12px;
    height:40px;
    line-height:40px;
    text-decoration: none;
}

.content-product__menu a:first-child {
    width: 147px;
    float: left;
 }
 
.fa-shopping-cart {
     padding-right: 6px;
 }
 
 .content-product__menu a:nth-child(2) {
    width: 62px;
    float: left;
    border-left: none;
    border-right: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
 }
 
 .wrapper-content-manufacturers {
     margin-left: 20px;
     margin-right: 20px;
     border: 2px solid #cccccc;
     border-radius: 5px;
     box-shadow: 0px 2px 10px 0px rgba(204, 204, 204, 0.75);
     height: 150px;
     overflow: hidden;
 }
 
.manufacturers-slider {
    line-height: 15;
    width: 95%;
}

.manufacturers-slider img {
    padding: 0 25px 0 25px;
}

.manufacturers-slider img:last-child {
    padding-right: 0;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 73px;
    line-height: 2;
}

.manufacturers__chevron-left {
    float: left;
    
   
}

.manufacturers__chevron-right {
    float: right;
}

.manufacturers-slider {
    float: left;
}

   /*- wrapper-footer --*/
   
.wrapper-footer {
    margin: 11px 0 14px 0;
    background-color: #303030;
    border-bottom: 1px solid #323232;
    overflow: hidden;
    padding: 0 20px 14px 20px;
}

.wrapper-footer h4 {
    margin-bottom: 0;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: #fffefe;        
}

.wrapper-footer p {
    margin-top: 6px;
    font-family: arial;
    font-size: 12px;
    color: #fffefe;  
}

.wrapper-footer-information,
.wrapper-footer-support,
.wrapper-footer-additionally,
.wrapper-footer-cabinet {
    float: left;
    width: 25%;
    line-height: 20px;
} 

 .wrapper-footer hr {
     color: #cccccc;
     size: 2px;
 }